# Importing the dependencies

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

from sklearn.preprocessing import StandardScaler
import lightgbm as lgbm

# Data Colection and Processing

In [2]:
car_dataset = pd.read_csv('/content/car data.csv')

In [3]:
car_dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
car_dataset.shape

(301, 9)

In [5]:
car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [6]:
car_dataset.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

# Enconding the Categorical Data

In [8]:
car_dataset.replace({'Fuel_Type': {'Petrol':0, 'Diesel':1, 'CNG': 2}}, inplace=True)

In [9]:
car_dataset.replace({'Seller_Type': {'Dealer':0, 'Individual':1}}, inplace=True)

In [10]:
car_dataset.replace({'Transmission': {'Manual':0, 'Automatic':1}}, inplace=True)

# Spliting Training and Test data

In [12]:
X = car_dataset.drop(columns=['Selling_Price', 'Car_Name'], axis=1)
Y = car_dataset.Selling_Price

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=2)

# LGBM
0,75 r2_error_score

In [16]:
scaler = StandardScaler()

In [17]:
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)

In [18]:
model = lgbm.LGBMRegressor()

In [19]:
model.fit(X_train_std, Y_train)

LGBMRegressor()

In [20]:
prediction = model.predict(X_test_std)
r2_error_score = metrics.r2_score(Y_test, prediction)
print(r2_error_score)

0.7525735709477787



# Linear Regression

0,83 r2_error_score

In [21]:
lin_reg_model = LinearRegression()

In [22]:
lin_reg_model.fit(X_train, Y_train)

LinearRegression()

In [23]:
li_reg_prediction = lin_reg_model.predict(X_test)

In [24]:
error_score = metrics.r2_score(Y_test, li_reg_prediction)
print(error_score)

0.8365766715027051

# Lasso Regression

0.87 r2_error_score

In [25]:
lass_reg_model = Lasso()

In [26]:
lass_reg_model.fit(X_train, Y_train)

Lasso()

In [27]:
lass_reg_prediction = lass_reg_model.predict(X_test)

In [28]:
error_score = metrics.r2_score(Y_test, lass_reg_prediction)
print(error_score)

0.8709167941173195