In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

# Data Processing

In [2]:
calories_data = pd.read_csv('calories.csv')
exercise_data = pd.read_csv('exercise.csv')

In [3]:
calories_data.head()

    User_ID  Calories
0  14733363     231.0
1  14861698      66.0
2  11179863      26.0
3  16180408      71.0
4  17771927      35.0

In [4]:
exercise_data.head()

    User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  14733363    male   68   190.0    94.0      29.0       105.0       40.8
1  14861698  female   20   166.0    60.0      14.0        94.0       40.3
2  11179863    male   69   179.0    79.0       5.0        88.0       38.7
3  16180408  female   34   179.0    71.0      13.0       100.0       40.5
4  17771927  female   27   154.0    58.0      10.0        81.0       39.8

In [5]:
exercise_data.isnull().sum()

User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
dtype: int64

In [6]:
exercise_data.describe()

,User_ID,Age,Height,Weight,Duration,Heart_Rate,Body_Temp
count,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,1.497736e+07,42.789800,174.465133,74.966867,15.530600,95.518533,40.025453
std,2.872851e+06,16.980264,14.258114,15.035657,8.319203,9.583328,0.779230
min,1.000116e+07,20.000000,123.000000,36.000000,1.000000,67.000000,37.100000
25%,1.247419e+07,28.000000,164.000000,63.000000,8.000000,88.000000,39.600000
50%,1.499728e+07,39.000000,175.000000,74.000000,16.000000,96.000000,40.200000
75%,1.744928e+07,56.000000,185.000000,87.000000,23.000000,103.000000,40.600000
max,1.999965e+07,79.000000,222.000000,132.000000,30.000000,128.000000,41.500000

In [7]:
exercise_data.replace({'Gender': {'male':1, 'female':0}}, inplace=True)

# Train Test Split

In [8]:
X = exercise_data.drop(columns='User_ID', axis=1)
Y = calories_data.drop(columns='User_ID')

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

# LGBM

1.26 mean square error

0.99 r2 score error

In [10]:
import lightgbm as lgbm
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)

modelc = lgbm.LGBMClassifier()
modelr = lgbm.LGBMRegressor()

modelr.fit(X_train_std, Y_train)
predictionr = modelr.predict(X_test_std)
r2_score_error = metrics.r2_score(Y_test, predictionr)
lgbmMae = metrics.mean_absolute_error(Y_test, predictionr)
print(lgbmMae)
print(r2_score_error)

# modelc.fit(X_train_std, Y_train)
# predictionc = modelc.predict(X_test_std)
# accuracy_predictionc = accuracy_score(Y_test, predictionc)
# print(accuracy_predictionc)

1.2674715331714512
0.9991003455915279

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# XGBRegressor

2.71 mean absolute error

In [11]:
model = XGBRegressor()

In [12]:
model.fit(X_train, Y_train)

[12:32:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

In [13]:
prediction = model.predict(X_test)

In [14]:
mae = metrics.mean_absolute_error(Y_test, prediction)

In [15]:
print(mae)

2.7159012502233186